<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhTZT5xG_zxcOBHq0L1ugsiTtA7zTOlns</string>
	<key>GCM_SENDER_ID</key>
	<string>99543419499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.learnappcac</string>
	<key>PROJECT_ID</key>
	<string>howtoapp-3efcd</string>
	<key>STORAGE_BUCKET</key>
	<string>howtoapp-3efcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99543419499:ios:0e627f95e67a6a40a43f2e</string>
</dict>
</plist>